name: Environment variables
on: workflow_dispatch
jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Print environment variables
        run: |
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo "${{ github.token }}"
