
.grid-container-merging {
  display: grid;
  grid-template-areas: 
    "fast-step-one three-step-one"
    "fast-step-two three-step-two"
    "fast-step-three three-step-three";
  grid-template-columns: 50%;
}

.merge-img {
  max-width: 100%;
}

.fast-step-one {
  grid-area: fast-step-one;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.fast-step-two {
  grid-area: fast-step-two;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.fast-step-three {
  grid-area: fast-step-three;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.three-step-one {
  grid-area: three-step-one;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.three-step-two {
  grid-area: three-step-two;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.three-step-three {
  grid-area: three-step-three;
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

@media (max-width: 1000px) {

  .grid-container-merging {
    display: grid;
    grid-template-areas: 
      "fast-step-one"
      "fast-step-two"
      "fast-step-three"
      "three-step-one"
      "three-step-two"
      "three-step-three";
    grid-template-columns: 100%;
  }

  .fast-step-one {
    border: none;
    border-bottom: 1px solid var(--border-color);
  }

  .fast-step-two {
    border: none;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  .fast-step-three {
    border: none;
    border-top: 1px solid var(--border-color);
  }

  .three-step-one {
    border: none;
    border-bottom: 1px solid var(--border-color);
  }

  .three-step-two {
    border: none;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  .three-step-three {
    border: none;
    border-top: 1px solid var(--border-color);
  }

}
