
.grid-container-stashing-explain {
  display: grid;
  grid-template-areas: 
    "stashing-step-one-explain"
    "stashing-step-two-explain"
    "stashing-step-three-explain";
  grid-template-columns: 100%;
}

.stashing-step-one-explain {
  grid-area: stashing-step-one-explain;
  display: flex;
  flex-direction: row;
}

.stashing-step-two-explain {
  grid-area: stashing-step-two-explain;
  display: flex;
  flex-direction: row;
}

.stashing-step-three-explain {
  grid-area: stashing-step-three-explain;
  display: flex;
  flex-direction: row;
}

.stashing-step-one-explain,
.stashing-step-two-explain,
.stashing-step-three-explain {
  margin-top: 15px;
  margin-bottom: 15px;
}

.number-box {
  margin-left: 20px;
  margin-right: 20px;
}

.number-text {
  background-color: var(--font-color-title);
  color: var(--bg-color-main);
  font-weight: bold;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.number-text:hover {
  background-color: var(--bg-color-title);
  color: var(--btn-highlight);
}

.content-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container-stashing {
  display: grid;
  grid-template-areas: 
    "stashing-step-one stashing-step-two"
    "stashing-step-four stashing-step-three";
  grid-template-columns: 50%;
}

.stashing-img {
  max-width: 100%;
}

.stashing-step-one {
  grid-area: stashing-step-one;
  border-right:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
  border-bottom:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
}

.stashing-step-two {
  grid-area: stashing-step-two;
  border-left:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
  border-bottom:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
}

.stashing-step-three {
  grid-area: stashing-step-three;
  border-left:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
  border-top:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
}

.stashing-step-four {
  grid-area: stashing-step-four;
  border-right:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
  border-top:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
}

@media (max-width: 1000px) {

  .grid-container-stashing {
    display: grid;
    grid-template-areas: 
      "stashing-step-one"
      "stashing-step-two"
      "stashing-step-three"
      "stashing-step-four";
    grid-template-columns: 100%;
  }

  .stashing-step-one {
    border: none;
    border-bottom:
      var(--img-border-width)
      var(--img-border-style)
      var(--border-color);
  }

  .stashing-step-two {
    border: none;
    border-top:
      var(--img-border-width)
      var(--img-border-style)
      var(--border-color);
    border-bottom:
      var(--img-border-width)
      var(--img-border-style)
      var(--border-color);
  }

  .stashing-step-three {
    border: none;
    border-top:
      var(--img-border-width)
      var(--img-border-style)
      var(--border-color);
    border-bottom:
      var(--img-border-width)
      var(--img-border-style)
      var(--border-color);
  }

  .stashing-step-four {
    border: none;
    border-top:
      var(--img-border-width)
      var(--img-border-style)
      var(--border-color);
  }

}
