
.grid-container-cherry-picking {
  display: grid;
  grid-template-areas:
    "cherry-picking-title cherry-picking-title"
    "cherry-picking-one cherry-picking-two";
  grid-template-columns: 50% 50%;
}

.cherry-picking-img {
  max-width: 100%;
}

.cherry-picking-title {
  grid-area: cherry-picking-title;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.cherry-picking-title-text {
  font-family: "Roboto";
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  background: #da0063;
  color: #fff;
  border-radius: 10px;
  padding: 2px 10px
}

.cherry-picking-one {
  grid-area: cherry-picking-one;
  border-right:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
}

.cherry-picking-two {
  grid-area: cherry-picking-two;
  border-left:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
}

@media (max-width: 1000px) {

  .grid-container-cherry-picking {
    display: grid;
    grid-template-areas:
      "cherry-picking-title"
      "cherry-picking-one"
      "cherry-picking-two";
    grid-template-columns: 100%;
  }

  .cherry-picking-one {
    border: none;
    border-bottom:
      var(--img-border-width)
      var(--img-border-style)
      var(--border-color);
  }

  .cherry-picking-two {
    border: none;
    border-top:
      var(--img-border-width)
      var(--img-border-style)
      var(--border-color);
  }

}
