
.grid-containter-undoing-merge {
  display: grid;
  grid-template-areas: 
    "reset-one revert-one"
    "reset-two revert-two";
  grid-template-columns: 50%;
}

.undoing-merge-img {
  max-width: 100%;
}

.reset-one {
  grid-area: reset-one;
  border-right:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
  border-bottom:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
}

.reset-two {
  grid-area: reset-two;
  border-right:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
  border-top:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
}

.revert-one {
  grid-area: revert-one;
  border-left:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
  border-bottom:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
}

.revert-two {
  grid-area: revert-two;
  border-top:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
  border-left:
    var(--img-border-width)
    var(--img-border-style)
    var(--border-color);
}

@media (max-width: 1000px) {

  .grid-containter-undoing-merge {
    display: grid;
    grid-template-areas: 
      "reset-one"
      "reset-two"
      "revert-one"
      "revert-two";
    grid-template-columns: 100%;
  }

  .reset-one {
    border: none;
    border-bottom:
      var(--img-border-width)
      var(--img-border-style)
      var(--border-color);
  }

  .reset-two {
    border: none;
    border-top:
      var(--img-border-width)
      var(--img-border-style)
      var(--border-color);
  }

  .revert-one {
    border: none;
    border-bottom:
      var(--img-border-width)
      var(--img-border-style)
      var(--border-color);
  }

  .revert-two {
    border: none;
    border-top:
      var(--img-border-width)
      var(--img-border-style)
      var(--border-color);
  }

}
