footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.75em;
  padding-top: 10px;
  padding-bottom: 7px;
  background: var(--bg-color-title);
}

.go-home {
  text-emphasis: none;
  text-decoration: none;
  color: var(--font-color-title);
  transition: all 0.3s;
}

.go-home:hover {
  color: var(--btn-highlight);
}
