li {
  margin-top: 30px;
}

li > em {
  color: var(--font-color-title);
}

.reference-item {
  list-style-type: circle !important;
}

.jump-to-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.jump-to-title-box {
  margin: 2rem;
}

.jump-to-links {
  height: 1900px;
  padding: 1rem 1.5rem;
}

.link-item {
  border-radius: 10px;
  font-size: 3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s;
}

.link-item a {
  color: inherit;
  text-decoration: none;
  transition: inherit;
  width: 100%;
}

.link-item a i {
  margin-right: 1rem;
}

.link-item:hover,
.link-item a:hover {
  background-color: var(--font-color-main);
  color: var(--font-color-title);
}

/* Media queries */
@media screen and (max-width: 1000px) {
  .jump-to-subtitle-box {
    margin-top: 20px;
  }
}
