@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --bg-color-main: #f5f5f5;
  --bg-color-title: #212338;
  --bg-color-btn: #fc4364;
  --font-color-main: #000;
  --font-color-title: #fc4364;
  --highlight: #fc4364;
  --btn-highlight: #f8c821;
  --code: #4c3edc;
  --shadow-h-offset: 0;
  --shadow-v-offset: 0;
  --shadow-blur: 20px;
  --git-bash: #b40099;
  --git-green: #00a700;
  --git-red: #9f0000;
  --git-aqua: #00bfba;
  --link-color: #fc4364;
  --border-color: #fc4364;
  --separation-borders: 3px;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Mono",  sans-serif;
  background: var(--bg-color-main);
  color: var(--font-color-main);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Header */
.floating-div {
  position: sticky;
  top: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
  background: var(--bg-color-title);
}

.btn {
  width: 25%;
}

header .title {
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--font-color-title);
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 8px 16px;
}

.btn a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  height: 55px;
  width: 170px;
}

.previous,
.next {
  background-color: var(--bg-color-btn);
  color: var(--bg-color-main);
}

.previous:hover,
.next:hover {
  background-color: var(--btn-highlight);
  color: var(--font-color-main);
}

.btn-disabled:hover {
  background-color: var(--bg-color-btn);
  color: var(--bg-color-main);
  cursor: auto;
}

/* Main */
main {
  margin: 20px;
  padding-top: 20px;
  min-height: 100%;
  border: var(--separation-borders) solid var(--font-color-title);
  border-radius: 12px;
  flex-grow: 1;
}

main section {
  padding: 20px;
}

.row {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.single-col {
  width: 100%;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-col {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.right-col {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.example {
  width: 100%;
  margin: 10px 0 20px 0;
}

.example::before {
  content: "";
  display: block;
  width: 100%;
  height: var(--separation-borders);
  background: var(--font-color-title);
}

.row p em {
  color: var(--highlight);
}

ul {
  margin: 40px;
  line-height: 1.5em;
}

li strong {
  color: var(--font-color-title);
}

/* Stylized fonts */
.code,
.inline-code {
  color: var(--code);
}

.code {
  text-align: center;
  margin: 20px;
}

.git-red {
  color: var(--git-red);
}

.git-green {
  color: var(--git-green);
}

.git-aqua {
  color: var(--git-aqua);
  text-shadow: 1px 1px var(--git-aqua);
}

.here {
  text-decoration: none;
  color: var(--link-color);
  text-shadow: 1px 1px var(--link-color);
}

.here:hover {
  background: var(--bg-color-title);
  border-radius: 5px;
}

p a {
  text-decoration: none;
  color: var(--highlight);
}

/* Images */
img {
  border-radius: 15px;
  justify-self: center;
  align-self: center;
}

.git-bash-img:hover,
.vscode-img:hover,
.github-img:hover,
.custom-img:hover {
  box-shadow: 
    var(--shadow-h-offset)
    var(--shadow-v-offset)
    var(--shadow-blur)
    var(--git-bash);
}

.miro-img {
  max-width: 600px;
}

.github-img {
  max-width: 1200px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.75em;
  padding-top: 10px;
  padding-bottom: 7px;
  background: var(--bg-color-title);
}

.go-home {
  text-emphasis: none;
  text-decoration: none;
  color: var(--font-color-title)
}

.go-home:hover {
  color: var(--btn-highlight)
}

/* Media queries */
@media (max-width: 1000px) {

  .row {
    flex-wrap: wrap;
  }

}
